title: Stay Calm
sub_title: Calming affect of staying
by_line: BY Captain Awesome
publish_date: 10-12-15
headliner: Calmer things around here. How to stay calm during situations of stress
order_by: 2
issue_number: 36
article_thumb: https://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png
image1: http://res.cloudinary.com/inhmag/image/upload/c_scale,w_2000/v1430371680/denied1_xymqht.jpg

{% extends "article.html" %}

{% block article %}

{% filter markdown %}
### Calmness besfore the storm
Calamity hits, what do you do? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<div class="breakout-img">
<img src="http://res.cloudinary.com/inhmag/image/upload/v1428187262/tlodcwyklsyo5bjuatdo.jpg" alt="Title of articy" title="enter image title here">
</div>

tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

>Lets create an awesome blockauote right here right now.
{% endfilter %}

{% endblock article %}

{% block contributors%}

{% filter markdown %}

![Elaine Woo](http://res.cloudinary.com/inhmag/image/upload/c_scale,dpr_2.0,w_82/v1430620282/headshot-elainewoo_narqfw.jpg
 "Elaine Woo")
**ELAINE WOO** is a student leader at InterVarsity Christian Fellowship, Long Beach. She enjoys using photography as a means to create memories with friends and strangers, runs a photo blog at [love-creates.tumblr.com](http://love-creates.tumblr.com), and loves cafe adventures.

{% endfilter %}
{% endblock %}
