title: Denied and Derecognized
sub_title: InterVarsity Adapts to Changes in Policy at Cal State Campuses
by_line: BY GRACE WONG WITH GREG JAO AND DANIEL ALLEN
publish_date: 05-01-15
headline:
image1: http://res.cloudinary.com/inhmag/image/upload/c_scale,w_2000/v1430371680/denied1_xymqht.jpg
blog_image: http://res.cloudinary.com/inhmag/image/upload/v1428681616/metamorphosis-header_uxl6ig.jpg
random_image: https://octodex.github.com/images/yaktocat.png

{% extends "article.html" %}

{% block headline%}
{% filter markdown %}
InterVarsity isn't the only one that's facing difficulties from the California State University system's decision to enforce nondiscrimination in student organizations.
{% endfilter %}
{% endblock %}

{% block article %}

{% filter markdown %}

<div class="breakout-img">
	<img src="{{image1}}" alt="Denied and Derecognized" title="Denied and Derecognized">Photography by Elaine Woo</div>

**FOR THE LAST YEAR**, 23 InterVarsity chapters on 19 campuses within the California State University system have had to be a lot more creative in the ways that they do ministry.

From "backpack banners" to meeting at off-campus locations, InterVarsity students and staff have been required to change the way they’ve done things since the organization’s beginning in the 1940s. 

Shortly before retiring, Chancellor Charles Reed of the California State Universities issued Executive Order 1068 on December 21, 2011, a five-page memorandum on student activities, including changes on minimum academic qualifications and student conduct. 

But the biggest change was revising the formal chartering and recognition policies for student organizations to include an open membership requirement, in addition to the nondiscrimination student organizations requirement. 

While the idea of a nondiscrimination clause seems like a positive alteration to the way student activities are managed, it had a different effect in practice. 

> While the idea of a nondiscrimination clause seems like a positive alteration to the way student activities are managed, it had a different effect in practice. 

In spring 2012, InterVarsity chapters at the Cal States began submitting their campus recognition forms just like they had each year before. By obtaining recognition, the chapters could have access to rooms and slots at activity fairs and be recognized as an official student organization at the universities.

However, many of them were denied recognition. The university said that by requiring InterVarsity student leaders to be Christians, it was religious discrimination, and therefore in a violation of the non-discrimination clause. 

"We thought it was odd," said Greg Jao, vice president and director of Campus Engagement for InterVarsity. "Religious groups should have religious student leaders. I met with Chancellor Timothy White that summer and I expressed our [concerns] with the policy, how it should be there to protect religious groups and not penalize them, how we are distinctly religious, and why belief was a key component."

The Chancellor offered a moratorium on the executive order for the 2013-2014 school year, hoping that groups on campus would change their minds. 

During that time, some leaders encouraged InterVarsity to "just sign the document," saying that the administration would never check.

"The reality is that even though the university might not check, our students are watching. If, through discipleship, they learn to sign whatever document they have to, even if it means being unfaithful, what kind of discipleship is that?" Greg said. "It’s just dishonest. That’s the kind of hypocrisy religious groups are accused of all the time."

InterVarsity did not waver in their stance that leaders need to be Christian.

"We felt unable to take a position that eliminated religious requirements for our leadership," Greg said. "Our leaders lead Bible studies, prayer meetings, and worship times. It seems critical to ask them if they believe in Jesus."

Greg asked the Chancellor to reconsider the policy, but he declined. So for the 2014-2015 school year, InterVarsity on Cal State campuses has changed dramatically.

This year, each chapter had to pay about $13,000 a semester to rent meeting rooms, were banned from activity fairs, and had to work largely off campus. For smaller chapters, this wasn’t as much of a problem and some even grew in attendance. But for larger chapters, attendance declined simply because it was difficult for a group of 150 or more students to meet in a single space without the assistance of being an officially recognized group on campus.

> This year, each chapter had to pay about $13,000 a semester to rent meeting rooms.

"In the midst of this situation my frustration has not lessened, but it has become more tempered and contextualized," Daniel Allen, a staff worker at Cal State Long Beach, wrote in an email. "I strongly agree with the stance that InterVarsity has taken on this issue, and I am very proud of my organization for sticking to their values. Obviously I wish that the outcome could be different, but my desire to see students reached on campus has not changed."

For Greg, the frustration stemmed from the "nonsensical nature of the executive order."

"It’s like prohibiting a veteran student group from requiring their leaders to be veterans and have that experience," Greg said. "The College Republicans were firm in requiring their leaders to be Republican and the fraternities and sororities are exempt from this order. They just don’t see the contradiction there. Cal State is bound by a non-discrimination policy, but student groups aren’t [sponsors, organizers, or agents] of Cal State. They have independent roots."

![Denied and Derecognized](http://res.cloudinary.com/inhmag/image/upload/dpr_2.0/v1430623719/denied2_qxmmcy.jpg "Denied and Derecognized")

Greg said that the impact of Cal State’s stance could be far-reaching, especially since it is the largest four-year public university system in the nation. 

"I wasn’t so surprised that Cal State did it, but I was very disturbed," Greg said. "This is a pretty unprecedented reach by a government agency to tell religious groups what kind of criteria they can and cannot use to pick their leaders. Historically, the government has really tried to avoid that. It’s disturbing because it’s the imposition of the university’s religious beliefs on an individual student group."

> This is a pretty unprecedented reach by a government agency to tell religious groups what kind of criteria they can and cannot use to pick their leaders. 

Greg believes that the issue of non-discrimination could have been handled better to make the campus more inclusive of differing beliefs, whether political, religious, or social.

"A good non-discrimination policy is aiming for inclusion," Greg said. "They should welcome groups particularly if they have beliefs that are odious or disapproved of by the university. That’s why you need the protection."

Although Cal State was "very gracious and cordial" toward Greg’s explanations, his attempts to persuade the administration were unsuccessful.

The issue was brought to various media outlets and even the political arena, with bills being introduced in certain states to prevent other universities from doing something similar.

This policy has forced InterVarsity to think about their role in the conversation surrounding the relationship between religious and government groups, which until this point has been centered on issues like providing contraception or baking a cake.

"I think the United States is trying to reevaluate what it thinks of religious accommodation," Greg said. 
Greg said that InterVarsity does not plan to sue the Cal States over this issue.

"This is our mission field," Greg said. "It’s not primarily our battlefield. We love the administration and see that our negotiations are as much about our culture as they are a part of our witness. It’s important for us to not demonize the administration. I think the administrators are taking a good policy a step beyond the absurd, but I think they’re legitimately doing what seems logical to them."

![Denied and Derecognized](http://res.cloudinary.com/inhmag/image/upload/dpr_2.0/v1430623721/denied3_kiv5fj.jpg "Denied and Derecognized")

By reaching out to other student groups, like the Muslim Student’s Association, InterVarsity has become more connected with other campus groups affected by the policy, taking their needs and concerns into more serious consideration, Greg commented. He cited examples such as finding appropriate places to pray for Muslim students or making accommodations for Holy Days for Jewish students.

"We’re representing the broader concerns of religious groups, not just our own," Greg said. "I think that’s part of [our] integrity ... saying it is part of a broader issue and not just [about] evangelicals."

Greg believes that this continued conversation with the Cal State Universities has pushed InterVarsity to find new ways of doing ministry that is sustainable, while staying true to their original mission.

"This is our mission field," Greg said. "Whether we are recognized or not, we will continue to do ministry on campus. We’ll just find new ways. We don’t have another gig. All we do are college ministries, so we’re pretty committed to being there."

> Whether we are recognized or not, we will continue to do ministry on campus.

Greg said he’s approached the situation by looking for opportunities rather than looking at the roadblocks.

He was reading the book of Acts when he took this position and discovered common ground with the early church. "Wherever the church encountered difficulty, the Gospel kept going forward. With that conviction, I’ve continually asked InterVarsity, ‘What’s the opportunity here? What is God doing by putting this in front of us?’"

Greg believes that the Christian faith coupled with the Asian American journey have facets that have shown that adaptation is possible.

"I think part of adapting to change is survival requirements and I think there are unique elements of the Christian faith that allow us to do that," Greg said. "Our integration history and stories are about how people adapt, transition, and change. Understanding how our parents and grandparents made that transition helps us to appreciate their resilience."

Allen agrees, saying that their chapter has been forced to become more creative and that student leadership has increased. Some campuses have even seen revival. 

"Our students have taken a much higher degree of ownership since we are unable to have a super visible presence at campus-wide events," he wrote in an email. "Student-led small group Bible studies have become a larger focal point of connection for students on campus."

The executive policy has challenged InterVarsity to look at how they engage with the whole of the university and to take their constitution more seriously, after seeing what is at stake and needing a clear window into InterVarsity’s witness.

"One thing that I’ve learned about change and transition is that I believe God is sovereign and in control and therefore I don’t need to panic," Greg said. 

> One thing that I’ve learned about change and transition is that I believe God is sovereign and in control and therefore I don’t need to panic.

"I do need to be aware of the opportunities that He brings in these crises so I step into the right place in times of transition. It’s easy to be protective or angry or defensive and that’s not our call either. I think God is still using it to grow us."

Daniel said that Cal State chapters are adapting to becoming unrecognized; they are accepting their new "normal" by learning to have stronger faith.

"We are ultimately leaning on God and expectant that He is going to support our work on campus no matter what," he wrote. "I believe God is calling us to a deeper dependence on Him in prayer, waiting, and preparation for the future."
Negotiations are ongoing.

{% endfilter %}

{% endblock article %}

{% block contributors%}

{% filter markdown %}
![Grace Wong](http://res.cloudinary.com/inhmag/image/upload/c_scale,dpr_2.0,w_82/v1430623635/Headshot-GraceWong.jpg "Grace Wong")
**GRACE WONG** serves as a staff writer for INHERITANCE. She is a Chicago native currently living in the Greater Los Angeles region and working as a journalist for the Los Angeles News Group.

---

![Greg Jao](http://res.cloudinary.com/inhmag/image/upload/c_scale,dpr_2.0,w_82/v1430620283/headshot-gregjao_y5rbn0.jpg "Greg Jao")
**GREG JAO** is Vice President and Director of Campus Engagement for InterVarsity Christian Fellowship/USA. He has authored several books including “Following Jesus without Dishonoring Your Parents” and “Your Mind’s Mission” (IVP).

---

![Daniel Allen](http://res.cloudinary.com/inhmag/image/upload/c_scale,dpr_2.0,w_82/v1430620282/headshot-danielallen_gtmd5f.jpg
 "Daniel Allen")
**DANIEL ALLEN** is a 6’5” hapa who serves on staff with InterVarsity Christian Fellowship in Orange County, CA. He loves ultimate frisbee, hipster coffee, and overly competitive board games. 

---

![Elaine Woo](http://res.cloudinary.com/inhmag/image/upload/c_scale,dpr_2.0,w_82/v1430620282/headshot-elainewoo_narqfw.jpg
 "Elaine Woo")
**ELAINE WOO** is a student leader at InterVarsity Christian Fellowship, Long Beach. She enjoys using photography as a means to create memories with friends and strangers, runs a photo blog at [love-creates.tumblr.com](http://love-creates.tumblr.com), and loves cafe adventures.

{% endfilter %}
{% endblock %}
