title: Making a New Start
sub_title: Greatness starts with starting new
by_line: BY TOMMY WU
publish_date: 11-1-15
headliner: Created another article for the feel goods.
order_by: 1
issue_number: 36
article_thumb: https://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png
image1: http://res.cloudinary.com/inhmag/image/upload/c_scale,w_2000/v1430371680/denied1_xymqht.jpg

{% extends "article.html" %}


{% block article %}

{% filter markdown %}

Lots of good content goes here - all in Latin...

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

##More Latin for the soul

Cicero famously orated against his political opponent Lucius Sergius Catilina. Occasionally the first Oration against Catiline is taken for type specimens: Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience? And for how long will that madness of yours mock us?)


{% endfilter %}

{% endblock article %}

{% block contributors%}

{% filter markdown %}

![Elaine Woo](http://res.cloudinary.com/inhmag/image/upload/c_scale,dpr_2.0,w_82/v1430620282/headshot-elainewoo_narqfw.jpg
 "Elaine Woo")
**ELAINE WOO** is a student leader at InterVarsity Christian Fellowship, Long Beach. She enjoys using photography as a means to create memories with friends and strangers, runs a photo blog at [love-creates.tumblr.com](http://love-creates.tumblr.com), and loves cafe adventures.

{% endfilter %}
{% endblock %}
